/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");

/* custom styles */
body {
  font-family: "Montserrat", sans-serif;
}

.footer-info a {
  text-decoration: none;
  color: white;
}

.bg-color {
  background-color: #242424;
}

@media only screen and (max-width: 576px) {
  .carousel-caption h1 {
    font-size: 20px;
  }

  .carousel-caption p {
    font-size: 8px;
  }

  .course-img {
    width: 100%;
    object-fit: cover;
  }
}

@media only screen and (min-width: 577px) and (max-width: 991px) {
  .carousel-caption h1 {
    font-size: 40px;
  }
}

@media only screen and (min-width: 992px) {
  .carousel-caption h1 {
    font-size: 4rem;
  }

  .ques-ans {
    width: 50%;
  }
}
